form{
    background-color: #dfe2e7;
}

.container-addProject{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addProject{
    margin: 5% 0;
    padding: 0 5%;
}

.addProject h1{
    text-align: center;
    margin-bottom: 35px;
}

.addProject label{
    font-weight: 500;
}

.projectName input{
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border:1px solid #dbdbdb;
    margin-bottom: 20px;
    height: 25px;
}

.allDate{
    display: flex;
    gap: 20px;
}

.allDate input{
   width: 100%;
   padding: 5px;
   outline: none;
   border-radius: 5px;
   border:1px solid #dbdbdb;
   margin-bottom: 20px;
   height: 25px;
}

.desc textarea{
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border:1px solid #dbdbdb;
    margin-bottom: 20px;
    resize: none;
    height: 100px;
}

.up-tech, .bottom-tech{
    margin-top: 10px;
    width: 100%;
}

.bottom-tech{
    margin-bottom: 15px;
}

.up-tech input, .bottom-tech input{
    margin-right: 15px;
}

.up-tech label{
    margin-right: 7%;
}

.bottom-tech label{
    margin-right: 9%;
}

.upFile label{
    margin-top: 20px;
}

.upFile input{
    width: 100%;
    background-color: #fff;
    padding: 2px 5px 2px 0;
    outline: none;
    border-radius: 5px;
    border:1px solid #dbdbdb;
}


.btn button{
    margin-top: 25px;
    float: right;
    border-radius: 35px;
    border:1px solid #dbdbdb;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
}

.container-card{
    display: grid;
    width: 100%;
    grid-template-areas: "header header header"
    "main main main" "footer footer footer";
    grid-template-columns: auto auto auto;
}

header,
main,
footer{
    margin: 5%;
}

header{
    grid-area: header;
    text-transform: uppercase;
    margin-bottom: -10pxx;
}

header h1{
    text-align: center;
}

main{
    grid-area: main;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
}

footer{
    grid-area: footer;
    display: none;
}

.card-project{
    margin: 0 20px;
    width: 300px;
    min-height: 400px;
    border-radius: 10px;
    background-color:#fcfcfc;
    padding: 20px;
    box-shadow: 1px 1px 5px 1px #dbdbdb;
}

.content img{
    max-width: 300px;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.content a{
    text-decoration: none;
    list-style-type: none;
}

.content h4{
    color: #080808;
}

.content a h4:hover{
    color: #2b397c;
}

.content span{
    font-size:small;
    color: #bbb8b8;
}

.content .text {
    margin-top: 15px;
    margin-bottom: 20px;
}

.content .text p{
    text-align: justify;
    font-weight: 300;
}

.content .tech i{
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: xx-large;
}

.card-project button{
    color: #f5f5f5;
    background-color: #000;
    border-radius: 10px;
    width: auto;
    font-weight: 500;
    margin-left: 5px;
    padding: 3px 52px;
    cursor: pointer;
}

@media only screen and (max-width: 765px){
    .container-card{
        grid-template-areas: "header"
        "main"
        "footer";
        grid-template-columns: 2fr;
    }

    .container-card main{
        grid-template-areas: "header"
        "main"
        "footer";
        grid-template-columns: auto;
    }

}